@model ControleFinanceiro.Web.ViewModels.TransacaoViewModel

<div class="mb-3">
    <label asp-for="CategoriaId" class="form-label"></label>
    <select asp-for="CategoriaId" class="form-select" asp-items="ViewBag.Categorias">
        <option value="">-- Selecione --</option>
    </select>
    <span asp-validation-for="CategoriaId" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="BancoId" class="form-label"></label>
    <select asp-for="BancoId" class="form-select" asp-items="ViewBag.Bancos">
        <option value="">-- Selecione --</option>
    </select>
    <span asp-validation-for="BancoId" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Descricao" class="form-label"></label>
    <input asp-for="Descricao" class="form-control" />
    <span asp-validation-for="Descricao" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="ValorPlanejado" class="form-label"></label>
    <input asp-for="ValorPlanejado" class="form-control" />
    <span asp-validation-for="ValorPlanejado" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="ValorPago" class="form-label"></label>
    <input asp-for="ValorPago" class="form-control" />
    <span asp-validation-for="ValorPago" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="DataTransacao" class="form-label"></label>
    <input asp-for="DataTransacao" class="form-control" type="date" />
    <span asp-validation-for="DataTransacao" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="DataVencimento" class="form-label"></label>
    <input asp-for="DataVencimento" class="form-control" type="date" />
    <span asp-validation-for="DataVencimento" class="text-danger"></span>
</div>
