@model ControleFinanceiro.Web.ViewModels.TransacaoViewModel

<div class="container mt-4">
    <div class="card fade-in">
        <div class="card-header">
            <h5 class="mb-0">Detalhes</h5>
        </div>
        <div class="card-body">
            <form id="formReceita" asp-controller="Receita" asp-action="Detalhes">
                <div class="mb-3">
                    <label asp-for="CategoriaId" class="form-label">Categoria</label>
                    <input asp-for="CategoriaNome" class="form-control" readonly />
                </div>

                <div class="mb-3">
                    <label asp-for="BancoId" class="form-label">Categoria</label>
                    <input asp-for="BancoNome" class="form-control" readonly />
                </div>

                <div class="mb-3">
                    <label asp-for="Descricao" class="form-label">Descrição</label>
                    <input asp-for="Descricao" class="form-control" readonly />
                </div>

                <div class="mb-3">
                    <label asp-for="ValorPlanejado" class="form-label">Valor Planejado</label>
                    <input asp-for="ValorPlanejado" class="form-control" type="number" readonly />
                </div>

                <div class="mb-3">
                    <label asp-for="ValorPago" class="form-label">Valor Recebido</label>
                    <input id="ValorRecebido" asp-for="ValorPago" class="form-control" type="number" readonly />
                </div>

                <div class="mb-3">
                    <label asp-for="DataTransacao" class="form-label">Data do Recebimento</label>
                    <input asp-for="DataTransacao" class="form-control" type="date" readonly />
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>